.bi-heart-fill{
    color:black;   
   }
   
   .bi-heart:hover{
       transition: 0.5s;
     color:black;
   }
   
   i{
       cursor: pointer;
   }
   p{
       margin-bottom: 7px;
   }
   .scrollmenu {
       display: flex;
       overflow-x: auto
   }
   .card{
       min-width: 18rem
   }.bi-heart-fill{
    color:black;   
   }
   
   .bi-heart:hover{
       transition: 0.5s;
     color: green;
   }
   
   i{
       cursor: pointer;
   }
   p{
       margin-bottom: 7px;
   }
   .scrollmenu {
       display: flex;
       overflow-x: auto
   }
   .card{
    min-width: 18rem
}